@model StudentHelpp.Models.PersonSignIn

@{
    ViewBag.Title = "ForGet Password";
    Layout = "~/Views/Shared/_ChangePassword.cshtml";
}

     <link href="~/CSS/ChkQuest.css" rel="stylesheet" />

      <h1 id="Ch" style="display:block;"> Have you forget  Password ??  </h1>
      <p id="Help" class="helpyou" style="display:block;"> We will help you !!!  </p>
       <div id="succ"></div>
      <p id="Success" class="helpyou" style="display:none;"> Your Password has been Updated !!!  </p>


        <div id="EmailShow" class="col-md-7" style="display:block">     
            <div id="emaildiv" class="editor-field">
                <label class="email-label2">
                    <i class="fa fa-envelope"></i>
                    <input id="emaill" type="email" name="Email" class="email2" placeholder="Email here..." />
                </label>
            </div>
            <span id="Email_E" style="color:red; font-weight:600;"></span>

            <div id="Questdiv" class="editor-field">
                <label class="email-label2">
                    <i class="fa fa-question"></i>
                    <input id="Questt" type="text" name="Quest" class="email2"  placeholder="What is your Best Friend Name ?"/>
                </label>
            </div>   

            <span id="Quest_E" style="color:red; font-weight:600;"> </span>

            <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Tutor, new { name="Tutor"})
                        @Html.LabelFor(model => model.Tutor  )

                        @Html.CheckBoxFor(model => model.Student , new { name="Student"})
                        @Html.LabelFor(model => model.Student)

                    </div>
                  </div>
                </div>
            <span id="Check_E" style="color:red; font-weight:600;"></span>
            
            <input id="QuestSub" type="submit" value="Continue"  class="btn1 btn1-cc" >  
        </div>
        <div id="PwdShow" class="col-md-6.9"> </div>
        <div id="PwddShow" class="col-md-6.95" style="display:none;">
                <div id="Pwddiv" class="editor-field">
                  <label class="email-label2">
                    <i class="fa fa-key"></i>
                    <input id="Pwdd" type="password" name="Password" class="email2" placeholder="Enter Password here..." />
                   </label>
                </div>
                <span id="Password_E" style="color:red; font-weight:600;"></span>
            
                <div id="C_Pwddiv" class="editor-field">
                    <label class="email-label2">
                        <i class="fa fa-key"></i>
                        <input id =" C_Pwdd" type="password" name="ConfirmPassword" class="email2" placeholder="Re-Enter Password here..." />
                    </label>
                
                </div>
                <span id="Confirm_E" style="color:red; font-weight:600;"></span>

                <input id="UpPwd" type="submit" value="Get Started"  class="btn1 btn1-cc" /> 
            </div>   

<script>
     
    var EmailShow = document.getElementById("EmailShow");
    var PwddShow = document.getElementById("PwddShow");
    var Help = document.getElementById("Help");
    var Ch = document.getElementById("Ch");

    $(document).ready(function () {

        var Email = $("#emaill").val();
        var Tutor = $("input[name='Tutor']:checked").val();
        var Student = $("input[name='student']:checked").val();
        $("#QuestSub").on("click", function () {
            debugger;
            var Data = { };

            Data.Email = $("#emaill").val();
            Data.Quest = $("#Questt").val();
            Data.Tutor = $("input[name='Tutor']:checked").val();
            Data.Student = $("input[name='student']:checked").val();

            if (Data.Email == "")
            {
                $('#Email_E').text("InValid Email");
            }
            else if (Data.Quest == "")
            {
                $('#Quest_E').text("InValid Answer");
            }
            else if (Data.Tutor && Data.Student)
            {
                $('#Check_E').text("Only Choose one CheckBox");
            }
            else if (!Data.Tutor && !Data.Student) {
                $('#Check_E').text("Choose at least one CheckBox");
            }
            else{
                $.ajax({
                    type: "POST",
                    data: Data,
                    url: "@Url.Action("ForGetPassword","STLogIn")",
                    success: function (result) {
                        debugger;
                        if (result) {
                            EmailShow.style.display = "none";
                            $('#PwddShow').show().appendTo($('#PwdShow'));
                        }
                        else
                        {
                            $('#Email_E').text("InValid Email");
                            $('#Quest_E').text("InValid Answer");
                        }
       
                    },
                    error: function ()
                    {
                        window.location.replace("@Url.Action("ForGetPassword","STLogIn")");
                    }
                });
            }
        });
    });

        $('#UpPwd').on("click", function () {
            debugger;
            var Password    = document.getElementById("Pwdd").value;
            var C_Password = document.getElementById("C_Pwdd").value;

            if (Password == "")
            {
                $('#Password_E').text("InValid Password");
            }
            else if (Password.length < 8) {
                $('#Password_E').text("Passworh length should be 8 character");
            }
            else if (C_Password == "") {
                $('#Password_E').text("InValid Password");
            }
            else if (Password == C_Password) {
                $('#Confirm_E').text("Password dose not match");
            }
            else
            {
                debugger;
                $.ajax({
                    type: "POST",

                    data: { Password: Password, Tutor: Tutor, Student: Student, Email: Email },

                    Url: "@Url.Action("UpdatePassword","STLogIn")",

                    success: function (result) {

                        EmailShow.style.display = "none";
                        Help.style.display = "none";
                        Ch.style.display = "none";
                        PwddShow.style.display = "none";

                        $('#Success').show().appendTo($('#succ'));
                    },
                    error: function () {
                        window.location.replace("@Url.Action("ForGetPassword","STLogIn")");
                    }
                });
            }
        });
</script>