@section Header{
     @using PagedList;
     @using PagedList.Mvc;
     @using StudentHelpp.Models;
     @model IPagedList<StudentHelpp.Models.ViewModelStudentQuestions>
}
@{
    ViewBag.Title ="New Questions";
    Layout="~/Views/Shared/Question.cshtml";
}

@section btn
{
    <li><a href="@Url.Action("LogOut","STLogIn")">Log Out</a></li>
}
@section quest
{
    <li><a href="@Url.Action("BrowseQuest","Tutor")">New Questions</a></li>
}
@section UserName
{
     @ViewData["UserName"]    
}
@section Profile
{
      <li><a href="@Url.Action("TutorProfile", "Tutor")">Profile</a></li>
}
@section AnswerQuest
{
    <li><a href="@Url.Action("AllQuestionsShownToTutorAnswerPostedByTutor","Tutor")">Questions</a></li>
}
@section Prfile
{
    <li><a href="@Url.Action("TutorProfile", "Tutor")">Profile</a></li>    
}
@section acunt
{
    <li><a href="@Url.Action("EarningAcount", "Earning")">Acount</a></li>    
}
@section Acount
{
    <li><a href="@Url.Action("EarningAcount","Earning")">Acount</a></li>    
}
@section Home
{
    <li><a href="@Url.Action("TutorAcount", "Tutor")">Home</a></li>    
}
@section Notification
{
    <div class="colm">
       <label  class="headd">
          Inbox
       </label>
       <br>
       <label class="list-group-item">
           <span class="badge">@Convert.ToInt32(ViewData["AnswerCnt"])</span>
           Answer
       </label>
       <br>
       <label  class="list-group-item">
           <span class="badge">@Convert.ToInt32(ViewData["TotalPoints"])</span>
           Points
       </label>
    </div>       
}
<link href="~/CSS/Acount.css" rel="stylesheet" />
<link href="~/CSS/demo.css" rel="stylesheet" />
<link href="~/CSS/sidebar-collapse.css" rel="stylesheet" />
<link href="~/CSS/PageList.css" rel="stylesheet" />

<style>
    .col-md-12 {
    width: 100%;
     margin-left: 0%; 
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
</style>
@section col_Modify_3{
    <div class="col-xs-2">
        <div class="col-xs-1">
            <label class="QuestSidebar">Questions</label>
            <br>
            <label class="NumSidebar">5000</label>
        </div>
        <div class="col-xs-1">
            <label class="QuestSidebar">Tutors</label>
            <br>
            <label class="NumSidebar">500</label>
        </div>
        <div class="col-xs-5">
        <label class="Subject">+ComputerScience</label>
        <br>
        <label class="Subject">+ Mathematics</label>
        <br>
        <label class="Subject">+ Engineering</label>
        <br>
        <label class="Subject">+ MBBS</label>
        <br>
        <label class="Subject">+ English</label>
        <br>
        <label class="Subject">+ Urdu</label>
    </div>
    </div>   
}
@{
        <div class="col-md-12">
            <div class="col-md-4">
                	<aside class="sidebar-left-collapse">
                        <br /><br><br><br>
		                <div class="sidebar-links">
			                <div class="link-blue selected active">
				                <a href="#" onclick="Question1();"><i class="fa fa-question"></i>Question </a>
			                </div>
			                <div class="link-yellow" onclick="Category1();">
				                <a href="#" ><i class="fa fa-th-list"></i>Category</a>
			                </div>
			                <div class="link-green">
				                <a href="#" onclick="Tags1();"><i class="fa fa-tags"></i>Tags</a>
			                </div>
		                </div>
                        <ul class="icons">
							<li><a href="#" ><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#" ><i class="fa fa-github-square"></i></a></li>
                            <li><a href="#" ><i class="fa fa-google-plus-square"></i></a></li>
						</ul>
                        <div class="b">
                            <label >©2016 Help Student</label>
                            <br>
                            <a >Terms & Privacy</a>
                        </div>
	                </aside>                    
            </div>
            <div class="col-md-7" id="colmd7" style="display:block;">
                <div class="col-xs-12">
                    <div class="col-sm-3">
                        <label class="Questt">All Question</label>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
@*                        <input type="text" class="form-control" placeholder="Search">*@
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="editor-field">
                            <label class="email-label2">
                                @Html.DropDownList("Categories", new List<SelectListItem>{
                                new SelectListItem{Text="Mathematics" , Value="Mathematics",},
                                new SelectListItem{Text="Physics" , Value="Physics"},
                                new SelectListItem{Text="Computer Science" , Value="Computer Science",},
                                new SelectListItem{Text="Chemistry" , Value="Chemistry"},
                                new SelectListItem{Text="English" , Value="English",},
                                new SelectListItem{Text="Urdu" , Value="Urdu"}
                                }, "Select Categories", new { @class= "style"})
                    
                           </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-11">
                    <ul class="nav1 nav-pills">
                      <li role="presentation" class="disabled"><a href="@Url.Action("BrowseQuest", "Tutor", new { type="MostRecent"})">Newest</a></li>
                      <li role="presentation" class="disabled"><a href="@Url.Action("BrowseQuest", "Tutor", new { type="MostPoints"})">Most Points</a></li>
                      <li role="presentation" class="disabled"><a href="@Url.Action("BrowseQuest", "Tutor", new { type="Random"})">Random</a></li>
                    </ul>
                </div>
                @{
                if((Int32)ViewData["count"]==0){}
                else
                {
                    for (int z = 0; z < Model.Count; z++ )
                    {
                        <div class="col-lg-12">
                            <div class="col-lg-7">
                                <div class="col-sm-7">
                                    <label class="Title">
                                           <a href="@Url.Action("ShowQuestionToTutorForPostAnswer", "Tutor", new { QuestId=Model[z].stu_Question.S_Quest_Id , title=Model[z].stu_Question.S_Title})">
                                                 @Html.DisplayFor(model => model[z].stu_Question.S_Title)
                                           </a>
                                        </label>
                                    <br>
                                    <label class="QuestBody">
                                        @Html.Raw(HttpUtility.HtmlDecode(Model[z].stu_Question.S_Question)) 
                                    </label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="col-md-1">
                                    @{
                                        if (Model[z].img.valu == 0)
                                        {
                                        
                                            <img class="img-circle" src="~/images/no-user-image-square.png"  />
                                        }
                                        else
                                        {
                                             <img class="img-circle" src="data:image/png;base64,@Convert.ToBase64String(Model[z].StuImage.Image_Data, 0, Model[z].StuImage.Image_Data.Length)"   />  
                                        }
                                    }
                                    </div>
                                    <div class="col-xs-6">
                                        
                                        @Html.Label("Question Id : ", new { @class="en"})
                                        <span class="en">
                                            @Html.DisplayFor(model => model[z].stu_Question.S_Quest_Id)
                                        </span>
                                        <br>
                                        @Html.Label("Points : " , new { @class="en"})
                                        <span class="dispay">
                                            @Html.DisplayFor(model => model[z].stu_Question.S_Points_Offered)
                                        </span>

                                         
                                         @{
                                            @Html.Label("Subject : " , new { @class="en"})
                                            for (int i = 0; i < 6;i++ )
                                            {
                                                if(Model[z].student_subject[i].Checked == true)
                                                {
                                                    <span class="dispay">
                                                        @Model[z].student_subject[i].Subject_Name
                                                    </span>
                                                }
                                            }
                                         }
                                         @Html.Label("End Date : " , new { @class="en"})
                                         <span class="en">
                                            @Model[z].stu_Question.S_Quest_End_Date.ToString("MM/dd/yyyy")
                                         </span>

                                        <br>
                                        @Html.Label("Posted Date : " , new { @class="en"})
                                        <span class="dispay">
                                            @Model[z].stu_Question.S_Date_Of_Post_Quest.ToString("MM/dd/yyyy")
                                         </span>
                                          @Html.Label("Posted Time : " , new { @class="en"})
                                        <span class="en">
                                            @Model[z].stu_Question.S_Time_Of_Post_Quest.ToString("hh:mm tt")
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                               
                                    <div class="col-lg-1">
                                        <div class="col-xs-7">
                                            <label class="Answers">@Model[z].stu_Question.S_Quest_Answer_Count</label>
                                        </div>
                                        <label>Answers</label>
                                    </div>
                                </div>
                        </div>
                    }
                    <div>
                        @Html.PagedListPager(Model, page => Url.Action("BrowseQuest", new { page }), new PagedListRenderOptions() { Display= PagedListDisplayMode.IfNeeded
                        ,DisplayPageCountAndCurrentLocation=true})
                    </div>
                }
            }
            </div>
            <div class="col-md-7" id="Category" style="display:none;">
                <div class="row select-category">
                    <div class="col-md-6 col-xs-6 current-category">
                        <span>Categories</span>
                    </div>
                </div><!-- END SELECT-CATEGORY -->
                <div class="row question-filter">
                    <div class="col-md-6 col-xs-6 sort-questions">
                        <ul>
                            <li>
                                <a class="active" href="">Name</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- END QUESTIONS-FILTER -->
                <div class="main-tag-list">
                    <div class="tags-list row ">
                        		        <div class="col-md-12">
                    	                    <span class="character">A</span>
                                        </div>
                                        <div class="clearfix"></div>
                                                    
                                                    <div class="tag-item cat-item wrap-tag-list">
                                                        <label class="qq-tag">Accounting</label>
                                                    </div>
                                                 
                                                    <div class="tag-item cat-item wrap-tag-list">
                                                        <label class="qq-tag">Arts</label>
                                                    </div>
                                                    
                                <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">B</span>
                                </div>
                                <div class="clearfix"></div>
                                                 
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Backup and Data Recovery</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Banking</label>
                                </div>                                       
                                         
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">C</span>
                                </div>
                                <div class="clearfix"></div>
                                       
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Chemistry</label>
                                </div>
                                      
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Computer</label>
                                </div>
                                                    <div class="tag-item wrap-tag-list">
                                    <label class="qq-tag">Conferences</label>
                                </div>
                                                    <div class="tag-item wrap-tag-list">
                                    <label class="qq-tag">Consulting</label>
                                </div>
                                                    <div class="tag-item wrap-tag-list">
                                    <label class="qq-tag">Cooking</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">D</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Data formats</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Databases</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Dentistry</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Design</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Dictionary</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Directories</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Download</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">E</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">E-Commerce</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Ebook</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Economics</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Education</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Emulators</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Entertainment</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">F</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Fashion</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Financial</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Food</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">H</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Hardware</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Health</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">History</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">M</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Magazines</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Marketing</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Mobile</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Movie</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Music</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">P</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Photography</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Programmer</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">S</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Science</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Security</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">SEO</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Software</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Sports</label>
                                </div>
                                        	        <div class="col-md-12">
                        	        <div class="clearfix"></div>
                                    <div class="grey-line"></div>
                                </div>
                                <div class="col-md-12">
                        	        <span class="character">T</span>
                                </div>
                                <div class="clearfix"></div>
                                                        <div class="tag-item cat-item wrap-tag-list">
                                    <label  class="qq-tag">Technology</label>
                                </div>
                                                    <div class="tag-item cat-item wrap-tag-list">
                                    <label class="qq-tag">Travel</label>
                                </div>
                                            <div class="col-md-12">
                	        <div class="clearfix grey-line "></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- END MAIN-TAGS-LIST -->
    
            </div>
            <div class="col-md-7" id="Tags" style="display:none;">
                <div class="col-md-8 main-content">
                                <div class="row select-category">
                                    <div class="col-md-6 col-xs-6 current-category">
                                        <span>Tags</span>
                                    </div>            
                                </div><!-- END SELECT-CATEGORY -->
                                <div class="row question-filter">
                                    <div class="col-md-6 col-xs-6 sort-questions">
                                        <!-- order by -->
                                        <ul>
                                            <li>
                                                <a class="active" href="#">Name</a>
                                            </li>
                                            <!-- <li>
                                                <a href="javascript:void(0)">Latest</a>
                                            </li>  -->                   
                                        </ul>
                                        <!--// order by -->
                                    </div>
                                </div><!-- END QUESTIONS-FILTER -->

                                <div class="main-tag-list">
                                    <div class="tags-list ">
                                        <div class="wrap-tag-list">                
                                            <span class="character">A</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag"> android </label>                  
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                apple                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">applications</label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">apps</label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">B</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">baffled</label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">billionaire</label> 
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                buget                    </label> 
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                business                    </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">C</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                car                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                commercial                    </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">D</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                demo                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                designer                    </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">F</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">  fa                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">facebook                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> follow                    </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">G</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">  glass </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> google </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> google glass </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">H</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">hfkd                  </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">I</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag"> Illustrator                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">
                                                important                    </label> 
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">L</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">lamborghini                    </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">M</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag"> marketers                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> marketing </label> 
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> media </label> 
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">movie</label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> music </label>
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">P</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">paranoid                    </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag"> phone </label>
                                        </div>
                                                    <div class="tag-item">
                                            <label class="q-tag">photoshop</label> 
                                        </div>
                                    </div>
                                        <div class="wrap-tag-list">                
                                                            <span class="character">R</span>
                                            <div class="clearfix"></div>
                                            <!--// character -->
                                        <!--// tag item -->
                                                    <div class="tag-item">
                                            <label class="q-tag">relax</label> 
                                        </div>
                                    </div>            </div>
                                    <div class="clearfix"></div>
                              </div><!-- END MAIN-TAGS-LIST -->                   
                    </div>
            </div>
        </div>

}
    <script>
        function Tags1() {
            document.getElementById('Tags').style.display = "block";
            document.getElementById('Category').style.display = "none";
            document.getElementById('colmd7').style.display = "none";
        }
        function Category1() {
            document.getElementById('Tags').style.display = "none";
            document.getElementById('Category').style.display = "block";
            document.getElementById('colmd7').style.display = "none";
        }
        function Question1() {
            document.getElementById('Tags').style.display = "none";
            document.getElementById('Category').style.display = "none";
            document.getElementById('colmd7').style.display = "block";
        }
    </script>  



