@section Header{
    @model StudentHelpp.Models.ViewModelQuestion
    @using System;
}

@{
    <title>Question</title>
    Layout = "~/Views/Shared/Question.cshtml";
}
@section AnswerQuest
{
    <li><a href="@Url.Action("AllQuestionsShownToTutorAnswerPostedByTutor", "Tutor")">Questions</a></li>
}
@section UserName
{
    @ViewData["UserName"]    
}
@section btn{
    <li><a href="@Url.Action("LogOut", "STLogIn")">Log Out</a></li>
}
@section quest
{
    <li><a href="@Url.Action("BrowseQuest", "Tutor")">New Questions</a></li>
}
@section Profile
{
      <li><a href="@Url.Action("TutorProfile", "Tutor")">Profile</a></li> 
}
@section Prfile
{
    <li><a href="@Url.Action("TutorProfile", "Tutor")">Profile</a></li>    
}
@section acunt
{
    <li><a href="@Url.Action("EarningAcount", "Earning")">Acount</a></li>    
}
@section Acount
{
    <li><a href="@Url.Action("EarningAcount", "Earning")">Acount</a></li>    
}
@section Home{
    <li><a href="@Url.Action("TutorAcount", "Tutor")">Home</a></li>    
    }
@section Notification
{
    <div class="colm">
       <label  class="headd">
          Inbox
       </label>
       <br>
       <label class="list-group-item">
           <span class="badge">@Convert.ToInt32(ViewData["AnswerCnt"])</span>
           Answer
       </label>
       <br>
       <label  class="list-group-item">
           <span class="badge">@Convert.ToInt32(ViewData["TotalPoints"])</span>
           Points
       </label>
    </div>       
}
<link href="~/CSS/stylesheet.css" rel="stylesheet" />
    <link href="~/CSS/showQuestion.css" rel="stylesheet" />
    <link href="~/CSS/ggpopover.css" rel="stylesheet" />
<link href="~/CSS/TutorAnswer.css" rel="stylesheet" />

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script src="~/Scripts/ggpopover.js"></script>

@{
     
    if (Model.tutor_Ans1.T_Email != ViewData["Eml"].ToString())
    {
            <div class="col-md-12">
              <div class="row">
                 <div class="col-md-1" data-toggle="popover" data-placement="auto top"
                                data-arrowcolor="#2ECC71"
                                data-bordercolor="#16A085"
                                data-title-backcolor="#1ABC9C"
                                data-title-bordercolor="#27AE60"
                                data-title-textcolor="#fff"
                                data-content-backcolor="#2ECC71"
                                data-content-textcolor="#fff"
                                title="@Model.stu_Question.S_UserName"
                                data-content="Questions: @ViewData["QuestionCnt"] Selected Ans: @ViewData["Select_Per"]%">
                          <script type="text/javascript">
                              $(document).ready(function () {
                                  $('[data-toggle="popover"]').ggpopover();
                              });
                               </script>
                    @{
        if ((Int32)ViewData["Imagecount"] == 0)
        {
                            <img class="img-circle" src="~/images/no-user-image-square.png" />
                        <a href="@Url.Action("StudentPublicProfile", "Student", new { user = @Model.stu_Question.S_UserName,Cur_User= @ViewData["UserName"] })">                                     
                                          <button type="submit" class="bttnn primary imUserName">@Model.stu_Question.S_UserName</button>
                                     </a> 
        }
        else
        {
                               <img class="img-circle" src="data:image/png;base64,@Convert.ToBase64String(Model.student_image.Image_Data, 0, Model.student_image.Image_Data.Length)"/>  
                                <a href="@Url.Action("StudentPublicProfile", "Student", new { user = @Model.stu_Question.S_UserName,Cur_User= @ViewData["UserName"] })">                                     
                                          <button type="submit" class="bttnn primary imUserName">@Model.stu_Question.S_UserName</button>
                                     </a>     
        }
                      }
                 </div>
                 <div class="col-md-11"> 
                    <div class="model-Header"> 
                       <div class="col-md-12">
                            <div class="col-md-4">
                            <h3 class="modal-title" style="color:#32bd32 ">Question</h3>
                        </div>
                            <div class="col-md-8">
                        @{
        if (Model.stu_Question.T_Answer_Selected == 0)
        {
            DateTime today1 = DateTime.Now;
                                <label > Answer has been selected at @today1.ToString("HH:mm:ss MM/dd/yyyy") </label>
        }
                         }
                        </div>       
	                   </div>
                    </div>
                    <div class="col-md-12">  
                       <div class="disp">
                       <span class="Questi">
                         @Html.Raw(HttpUtility.HtmlDecode(Model.stu_Question.S_Question)) 
                       </span>
                    </div>
                    <div class="pramtrs">
                        @Html.Label("Points Offered : ")
                          <span class="dispay">
                              @Html.DisplayFor(model => model.stu_Question.S_Points_Offered)
                          </span>
                         @Html.Label("Subject : ")
                         @{
        for (int i = 0; i < 6; i++)
        {
            if (Model.student_subject[i].Checked == true)
            {
                                                        <span class="dispay">
                                                            @Model.student_subject[i].Subject_Name
                                                        </span>
            }
        }
                           }
                       @Html.Label("Answer Count : ")
                               <span class="en">
                               @Html.DisplayFor(model => model.stu_Question.S_Quest_Answer_Count)
                               </span>
                  
                               <br>

                               @Html.Label("Question End Date : ")
                               <span class="dispay">
                                 @Model.stu_Question.S_Quest_End_Date.ToString("MM/dd/yyyy")
                                   </span>
                                @Html.Label("Posted Date: ")
                               <span class="dispay">
                                    @Model.stu_Question.S_Date_Of_Post_Quest.ToString("MM/dd/yyyy")
                               </span>
                               @Html.Label("Posted Time: ")
                               <span class="en">
                                    @Model.stu_Question.S_Time_Of_Post_Quest.ToString("hh:mm tt")
                               </span>
                        </div>
                    </div>
                 </div>
                 <div class="col-sm-12">
                        @{
                            DateTime dt = DateTime.Now;

                            if (DateTime.Compare(dt, Model.stu_Question.S_Quest_End_Date) < 0)
                            {
                                if (Model.tutor_Ans1.T_Answer_Selected != 1)
                                {
                                    <input type=button class="btn btn-default border-radius custom-button" id="btnn" value="Post Answer" />
                                }
                                else
                                {
                                    <h5 style="font-weight:600; font-size:12px;" >Answer Has been Selected of another, There is no longer available for post Answer</h5>
                                }
                            }
                            else
                            {
                                <h3 style="font-weight:600; font-size:12px;">Question Last Date have been gone away, There is no longer available for post Answer</h3>
                            }
                      }

                    </div>
              </div>
            </div>
            <div class="col-lg-12 PostAnswr" id="sub3">
                 @using (Html.BeginForm("PostAnswer", "Tutor", new { QuestId = Model.stu_Question.S_Quest_Id }, FormMethod.Post))
                 {
                     @Html.AntiForgeryToken()
                     @Html.ValidationSummary(true)

                     Model.tutor_Ans1 = new StudentHelpp.Models.Tutor_Answer();
                     <textarea class="ckeditor" name="tutor_Ans1.T_Answer" id="editor1" rows="10"></textarea>
                     <br/><br/>
                     <div class="col-sm-12">
                          <input type="Submit" class="btn btn-default border-radius custom-button" align="center" value='Submit Answer' />
                     </div> 
                 }     
                
                
		     </div>
                

                 // ************ COMMMENNT SECTION ******************//

              <div class="col-xs-10">
                  <div class="col-xs-8">
                           <input class="email2" type="text" id="comma" onkeypress="handle(event)" placeholder="Enter Comment Here..."/> 
                    </div>
                  <div class="col-xs-7" id="showC1">
                       @{
                 if (Model.S_Comments != null)
                 {

                     for (int zz1 = 0; zz1 < Model.S_Comments.Count; zz1++)
                     {
                         if (Model.S_Comments[zz1].S_UserName != null)
                         {
                                                                       <span class="Emal"> @Model.S_Comments[zz1].S_UserName  </span><br><span class="Questi">  @Model.S_Comments[zz1].Comment  </span>
                                                                       <br><span class="Time">  @Model.S_Comments[zz1].Time_Comment  </span><span class="Time"> @Model.S_Comments[zz1].Date_Comment.ToString("MM/dd/yyyy") </span><br/>
                         }
                         else
                         {
                                                                           <span class="Emal"> @Model.S_Comments[zz1].T_UserName  </span><br><span class="Questi">  @Model.S_Comments[zz1].Comment  </span>
                                                                           <br><span class="Time">  @Model.S_Comments[zz1].Time_Comment  </span><span class="Time"> @Model.S_Comments[zz1].Date_Comment.ToString("MM/dd/yyyy") </span><br/>
                         }

                     }
                 }
                                                     }
                  </div>
                  <div class="col-xs-7" id="showCC1"></div>
              </div>

                 //************* END COMMENT SECTION ****************//

             <script>
    function handle(e) {
        if (e.keyCode === 13) {
                var Url = {
                    MyUrl: '@Url.Action("CommentTutor", "Student")'
                             }
                             var Cmt = {};
                             Cmt.Comment = $('#comma').val();
                             Cmt.Q_Id = '@Model.stu_Question.S_Quest_Id'
                             Cmt.T_Email = '@Model.tutor_Ans1.T_Email'

                      $.ajax({
                          url: Url.MyUrl,
                          method: 'post',
                          contentType: "application/json; charset=utf-8",
                          data: '{Comnt: '+JSON.stringify(Cmt)+'}',
                          success: function (data) {
                              $('#showC1').empty();
                              $('#showCC1').empty();
                              $.each(data, function (index, item) {
                                  
                                  if (item.S_UserName != null) {
                                      var date = new Date(parseInt(item.Date_Comment.substr(6)));

                                      var user = '<span class="Emal">' + item.S_UserName + '</span><br><span class="Questi">' + item.Comment + '</span><br><span class="Time"></span><span class="Time">' + date + '</span><br/>';
                                      $('#showCC1').append(user);
                                      $('#comma').val('');
                                  } else {
                                      var date = new Date(parseInt(item.Date_Comment.substr(6)));

                                      var user = '<span class="Emal">' + item.T_UserName + '</span><br><span class="Questi">' + item.Comment + '</span><br><span class="Time"></span><span class="Time">' + date + '</span><br/>';
                                      $('#showCC1').append(user);
                                      $('#comma').val('');
                                  }
                              });
                          },
                          error: function (err) {
                              alert(err);
                          }
                      });
        }
    }
</script>
             <script type="text/javascript">
                 $('#sub3').hide();
                 $('#btnn').on("click", function () {
                     $('#btnn').hide();
                     $('#sub3').show();
                 });
                function setVisibility(id, visible, id1, visible1) {
                    var e = document.getElementById(id);
                    var e1 = document.getElementById(id1);
                    document.getElementById(id).style.display = visible;
                    document.getElementById(id1).style.display = visible1;

                }

                function setVis(id, visible, id1, visible1) {
                    var e = document.getElementById(id);
                    var e1 = document.getElementById(id1);
                    document.getElementById(id).style.display = visible;
                    document.getElementById(id1).style.display = visible1;

                }
                $('[data-toggle="popover"]').ggpopover();
            </script>
    
    }
    else if (Model.tutor_Ans1.T_Email == ViewData["Eml"].ToString())
    {
            <style>
            .col-xs-9 {
                margin-bottom: 10%;
            }
        </style>
            <div class="col-md-12">
              <div class="row">
                 <div class="col-md-1" data-toggle="popover" data-placement="auto top"
                                data-arrowcolor="#2ECC71"
                                data-bordercolor="#16A085"
                                data-title-backcolor="#1ABC9C"
                                data-title-bordercolor="#27AE60"
                                data-title-textcolor="#fff"
                                data-content-backcolor="#2ECC71"
                                data-content-textcolor="#fff"
                                title="@Model.stu_Question.S_UserName"
                                data-content="Questions: @ViewData["QuestionCnt"]  Selected Ans: @ViewData["Select_Per"]%">
                          <script type="text/javascript">
                              $(document).ready(function () {
                                  $('[data-toggle="popover"]').ggpopover();
                              });
                               </script>
                    @{
        if ((Int32)ViewData["Imagecount"] == 0)
        {
                            <img class="img-circle" src="~/images/no-user-image-square.png" />
                            <a href="@Url.Action("StudentPublicProfile", "Student", new { user = @Model.stu_Question.S_UserName, Cur_User= @ViewData["UserName"]  })">                                     
                                  <button type="submit" class="bttnn primary imUserName">@Model.stu_Question.S_UserName</button>
                            </a> 
        }
        else
        {
                               <img class="img-circle" src="data:image/png;base64,@Convert.ToBase64String(Model.student_image.Image_Data, 0, Model.student_image.Image_Data.Length)"/>  
                                
                        <a href="@Url.Action("StudentPublicProfile", "Student", new { user = @Model.stu_Question.S_UserName,Cur_User= @ViewData["UserName"] })">                                     
                                    <button type="submit" class="bttnn primary imUserName">@Model.stu_Question.S_UserName</button>
                                </a> 
        }
                      }
                 </div>
                 <div class="col-md-11"> 

                    <div class="model-Header"> 
                       <div class="col-md-12">
                        <div class="col-md-4">
                            <h3 class="modal-title" style="color:#32bd32 ">Question</h3>
                        </div>
                        <div class="col-md-8">
                        @{
        if (Model.stu_Question.T_Answer_Selected == 0)
        {
            DateTime today1 = DateTime.Now;
                                <label > Answer has been selected at @today1.ToString("HH:mm:ss MM/dd/yyyy") </label>
        }
                         }
                        </div>       
	                   </div>
                    </div>
            
                    <div class="col-md-12">  
                       <div class="disp">
                       <span class="Questi">
                         @Html.Raw(HttpUtility.HtmlDecode(Model.stu_Question.S_Question)) 
                       </span>
                   </div>
                       <div class="pramtrs">
                        @Html.Label("Points Offered : ")
                          <span class="dispay">
                              @Html.DisplayFor(model => model.stu_Question.S_Points_Offered)
                          </span>
                         @Html.Label("Subject : ")
                                          @{
        for (int i = 0; i < 6; i++)
        {
            if (Model.student_subject[i].Checked == true)
            {
                                                        <span class="dispay">
                                                            @Model.student_subject[i].Subject_Name
                                                        </span>
            }
        }
                                            }
                        @Html.Label("Answer Count : ")
                               <span class="en">
                               @Html.DisplayFor(model => model.stu_Question.S_Quest_Answer_Count)
                               </span>
                  
                               <br>

                               @Html.Label("Question End Date : ")
                               <span class="dispay">
                                 @Model.stu_Question.S_Quest_End_Date.ToString("MM/dd/yyyy")
                               </span>
                                @Html.Label("Posted Date: ")
                               
                            <span class="dispay">
                                    @Model.stu_Question.S_Date_Of_Post_Quest.ToString("MM/dd/yyyy")
                               </span>
                               @Html.Label("Posted Time: ")
                               <span class="en">
                                    @Model.stu_Question.S_Time_Of_Post_Quest.ToString("hh:mm tt")
                               </span>

                        </div>
                    </div>
                 </div>
               </div>
            </div>             
            <div class="col-xs-10">
                <div class="col-xs-8">
                        <input class="email2" type="text" id="commaQuest" onkeydown="handle(event)" placeholder="Enter Comment Here..."/> 
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-7" id="showC">
                      @{
                            if (Model.S_Comments != null)
                            {

                                for (int zz1 = 0; zz1 < Model.S_Comments.Count; zz1++)
                                {
                                    if (Model.S_Comments[zz1].S_UserName != null)
                                    {
                                                                       <span class="Emal"> @Model.S_Comments[zz1].S_UserName  </span><br><span class="Questi">  @Model.S_Comments[zz1].Comment  </span>
                                                                       <br><span class="Time">  @Model.S_Comments[zz1].Time_Comment  </span><span class="Time"> @Model.S_Comments[zz1].Date_Comment.ToString("MM/dd/yyyy") </span><br/>
                                    }
                                    else
                                    {
                                                                           <span class="Emal"> @Model.S_Comments[zz1].T_UserName  </span><br><span class="Questi">  @Model.S_Comments[zz1].Comment  </span>
                                                                           <br><span class="Time">  @Model.S_Comments[zz1].Time_Comment  </span><span class="Time"> @Model.S_Comments[zz1].Date_Comment.ToString("MM/dd/yyyy") </span><br/>
                                    }

                                }
                            }
                        }
                    </div>
                    <div class="col-xs-7" id="showC11"></div>
                </div>
            </div>
            //answer
            <div class="col-md-7">
                  @{
                                       <div class="col-md-12">
                                       @{
                                            <div class="col-md-1" data-toggle="popover"
                                                                    data-placement="auto top"
                                                                    data-arrowcolor="#2ECC71"
                                                                    data-bordercolor="#16A085"
                                                                    data-title-backcolor="#1ABC9C"
                                                                    data-title-bordercolor="#27AE60"
                                                                    data-title-textcolor="#fff"
                                                                    data-content-backcolor="#2ECC71"
                                                                    data-content-textcolor="#fff"
                                                                    title="@Model.tutor_Ans1.T_UserName"
                                                                    data-content="Answers: @Model.tutor_Ans1.T_Answer_Count  Correct: @Model.tutor_Ans1.Correct%">
                                          <script type="text/javascript">
                                              $(document).ready(function () {
                                                  $('[data-toggle="popover"]').ggpopover();
                                              });
                                           </script>
                                            @{
        if ((Int32)ViewData["ImageTutorcount"] == 0)
        {
                                                     <img  class="img-circle" src="~/images/no-user-image-square.png" />
                                                     <a href="@Url.Action("TutorPublicProfile", "Tutor", new { user = Model.tutor_Ans1.T_UserName , Cur_User= @ViewData["UserName"]})">                                     
                                                            <button type="submit" class="bttnn primary imUserName" style="margin-left: 20%;">@Model.tutor_Ans1.T_UserName</button>
                                                        </a> 
        }
        else
        {
                                                      <img class="img-circle" src="data:image/png;base64,@Convert.ToBase64String(Model.tutor_image1.Image_Data, 0, Model.tutor_image1.Image_Data.Length)" />
                                                      <a href="@Url.Action("TutorPublicProfile", "Tutor", new { user = Model.tutor_Ans1.T_UserName,Cur_User= @ViewData["UserName"] })">                                     
                                                            <button type="submit" class="bttnn primary imUserName" style="margin-left: 20%;">@Model.tutor_Ans1.T_UserName</button>
                                                        </a> 
        }
                                            }
                                            </div>
                                            <div class="col-md-11">
                                                <div class="col-md-4">
                                                   <h3 class="modal-title" style="color:#32bd32 ">Answer</h3>      

                                                </div>
                                                <div class="col-md-6">
                                                     @{
        DateTime tody = DateTime.Today;
        if (Model.tutor_Ans1.T_Answer_Selected == 0)
        {
                                                         <h4 class="Name" > You have Earned Points : @Model.tutor_Ans1.T_Points_Earned
                                                                <br> At @tody.ToString("HH:mm:ss MM/dd/yyyy") </h4>
                                                            
        }
        else
        {
                                                                
        }
                    
                                                         }
                                                </div>
                                            </div>
                        
                                            <div class="col-md-10">
                                              <span class="Questi"> 
                                                  @Html.Raw(HttpUtility.HtmlDecode(Model.tutor_Ans1.T_Answer)) 
                                            </span>         
                                            </div>
                                            <div class="col-md-9">
                                                @Html.Label("Answer Id : ")
                                                <span class="dispay">
                                                    @Html.DisplayFor(model => model.tutor_Ans1.T_Answer_Id)
                                                </span>
                                                 @Html.Label("Posted Date : ")
                                                <span class="en">
                                                @Model.tutor_Ans1.T_Date_Post_Answer.ToString("MM/dd/yyyy")
                                                </span> 
                                                <br>
                                                
                                                 @Html.Label("Posted Time: ")
                                               <span class="en">
                                                   @Model.tutor_Ans1.T_Time_Post_Answer.ToString("hh:mm tt")
                                               </span>  
                                
                               
                                            </div>
                                        }
                                        </div>
                                       <div class="col-xs-11">
                                           <div class="col-xs-9">
                                                <input class="email2" type="text" id="comm_Ans" onkeypress="handle1(event)" placeholder="Enter Comment Here..."/> 
                                           </div>
                                           <div class="col-xs-9">
                                                <div class="col-xs-7" id="showT_C">
                                                     @{
                                                        if (Model.T_Comments != null)
                                                        {

                                                            for (int zz = 0; zz < Model.T_Comments.Count; zz++)
                                                            {
                                                                if (Model.T_Comments[zz].T_UserName != null)
                                                                {
                                                                       <span class="Emal"> @Model.T_Comments[zz].T_UserName  </span><br><span class="Questi">  @Model.T_Comments[zz].Comment  </span>
                                                                       <br><span class="Time">  @Model.T_Comments[zz].Time_Comment  </span><span class="Time"> @Model.T_Comments[zz].Date_Comment.ToString("MM/dd/yyyy") </span><br/>
                                                                }
                                                                else
                                                                {
                                                                           <span class="Emal"> @Model.T_Comments[zz].S_UserName  </span><br><span class="Questi">  @Model.T_Comments[zz].Comment  </span>
                                                                           <br><span class="Time">  @Model.T_Comments[zz].Time_Comment  </span><span class="Time"> @Model.T_Comments[zz].Date_Comment.ToString("MM/dd/yyyy") </span><br/>
                                                                }
                                                            }
                                                        }
                                                     }
                                                </div>
                                                <div class="col-xs-7" id="showT_CC"></div>
                                           </div>
                                       </div> 
                                       <script> 
                                           function handle1(e) {
                                               debugger;
                                                     if (e.keyCode === 13) {
                                                         var Url = {
                                                             MyUrl: '@Url.Action("Comment_Ans", "Student")'
                                                         }
                                                        var Cmt = {};
                                                        Cmt.Comment = $('#comm_Ans').val();
                                                        Cmt.Q_Id    = '@Model.stu_Question.S_Quest_Id';
                                                         Cmt.Ans_Id = '@Model.tutor_Ans1.T_Answer_Id';

                                                                   $.ajax({
                                                                       url: Url.MyUrl,
                                                                       method: 'post',
                                                                       contentType: "application/json; charset=utf-8",
                                                                       data: '{Comnt:' + JSON.stringify(Cmt) + '}',
                                                                       success: function (data) {
                                                                           $('#showT_C').empty();
                                                                           $('#showT_CC').empty();
                                                                           $.each(data, function (index, item) {
                                                                               
                                                                               if (item.S_UserName != null) {
                                                                                   var date = new Date(parseInt(item.Date_Comment.substr(6)));

                                                                                   var user = '<span class="Emal">' + item.S_UserName + '</span><br><span class="Questi">' + item.Comment + '</span><br><span class="Time"></span><span class="Time">' + date + '</span><br/>';
                                                                                   $('#showT_CC').append(user);
                                                                                   $('#comm_Ans').val('');
                                                                               } else {
                                                                                   var date = new Date(parseInt(item.Date_Comment.substr(6)));

                                                                                   var user = '<span class="Emal">' + item.T_UserName + '</span><br><span class="Questi">' + item.Comment + '</span><br><span class="Time"></span><span class="Time">' + date + '</span><br/>';
                                                                                   $('#showT_CC').append(user);
                                                                                   $('#comm_Ans').val('');
                                                                               }
                                                                           });
                                                                       },
                                                                       error: function (err) {
                                                                           alert(err);
                                                                       }
                                                                   });
                                                              }

                                                          }
                                            </script>
                   }                             
            </div>

          <script>
              function handle(e) {
                  if (e.keyCode === 13) {
                      var Url = {
                          MyUrl: '@Url.Action("CommentTutor", "Student")'
                }
                var Cmt = {};
                Cmt.Comment = $('#commaQuest').val();
                
                Cmt.Q_Id = '@Model.stu_Question.S_Quest_Id'
                Cmt.T_Email ='@Model.tutor_Ans1.T_Email'
                             $.ajax({
                                 url: Url.MyUrl,
                                 method: 'post',
                                 contentType: "application/json; charset=utf-8",
                                 data: '{Comnt: ' + JSON.stringify(Cmt) + '}',
                                 success: function (data) {
                                     $('#showC').empty();
                                     $('#showC11').empty();
                                     $.each(data, function (index, item) {
                                        
                                         if (item.S_UserName != null) {
                                             var date = new Date(parseInt(item.Date_Comment.substr(6)));

                                             var user = '<span class="Emal">' + item.S_UserName + '</span><br><span class="Questi">' + item.Comment + '</span><br><span class="Time"></span><span class="Time">' + date + '</span><br/>';
                                             $('#showC11').append(user);
                                             $('#commaQuest').val('');
                                         } else
                                         {
                                             var date = new Date(parseInt(item.Date_Comment.substr(6)));

                                             var user = '<span class="Emal">' + item.T_UserName + '</span><br><span class="Questi">' + item.Comment + '</span><br><span class="Time"></span><span class="Time">' + date + '</span><br/>';
                                             $('#showC11').append(user);
                                             $('#commaQuest').val('');
                                         }
                                     });
                                 },
                                 error: function (err) {
                                     alert(err);
                                 }
                             });
                         }
                     }
</script>   
          <script type="text/javascript">
              $('[data-toggle="popover"]').ggpopover();
            </script>             
    }
}
  
